body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #4c678a, #b560b0);
  justify-content: center;
  align-items: center;
  margin: 0;
}

.question{
  background: white;
  padding: 35px 45px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  width: 55%;
  height: 350px;
  margin: 160px;
  margin-left: 100px;
  
}
#questionNumber {
  font-size: 22px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}
#questionText {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  color: #222;
  margin-bottom: 20px;
}
#optionsContainer label {
  font-size: 18px;

  cursor: pointer;
}
#optionsContainer input[type="radio"] {
  transform: scale(1.3);   
  margin-right: 8px;
  cursor: pointer;
}

h3
{
margin: 20px;
}
button {
  width: 16%;
  padding: 10px;
  background-color: #922a8f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 100px;
  margin-left:55px;
  transition: 0.3s;
}

button:hover {
  background-color: #a080a0;
}
.button-group {
  flex-wrap: wrap; 
  gap: 5px;
}
.SD{
  width: 20%;
  height: 80%;             
  background-color: white;   
  border-radius: 15px;       
  box-shadow: 0 4px 20px rgba(0,0,0,0.2); 
  position: absolute;        
  right: 30px;               
  top: 70px;                
  padding: 20px;
}
.marked-item {
  background: #f5f5f5;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.marked-item:hover {
  background: #eee;
}

