img {
  width: 50vw;          
  height: 100vh;        
  object-fit: cover;   
  position: fixed;      
  right: 0;             
  top: 0;
  margin: 0;            
  border-radius: 0;     
}
body{
    background-color: #f7f7f7;
}
p {
  width: 45%;               
  font-size: 35px;           
  font-weight: 600;
  line-height: 1.6;
  margin-left: 90px;
  margin-top:230px ;
  background: linear-gradient(90deg, #4a148c, #9c27b0); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

button {
  width: 20%;
  padding: 10px;
  background-color: #922a8f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 21px;
  cursor: pointer;
  margin-top: 180px;
  margin-left: 210px;
  transition: 0.3s;
}


button:hover {
  background-color: #a080a0;
}
